<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='stilo.css')  }}">
    <title>Sistema de Vendas</title>
   </head>
    <body>

        <div class="container">
            <div class="row"></br></div>
            <div class="row">
                <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0">Paulo Lopes do Nascimento</h3>
                        <h4 class="mb-0 text-muted">Desenvolvedor Python</h4>
                        <p class="card-text mb-auto">Email- paulo.loppes@yahoo.com</p>
                        <p class="card-text mb-auto">Celular- (13) 99654-4604</p>
                    </div>

                    <div class="image-parent">
                        <img class="rounded-3 imgfoto img-fluid" src="{{ url_for('static', filename='img/Paulo.jpg')  }}"  alt="quixote">
                    </div>
                </li>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <p></p>
                        <h4>MINHA FORMAÇÃO</h4>
                        <div>
                            <p>
                                Me apaixonei pela área de T.I quando precisei automatizar alguns processos
                                enquanto trabalhava para uma importante Empresa de Engenharia Civil.</br>
                                Este meu primeiro contato com o desenvolvimento de aplicações fez-me desejar
                                aprofundar-me cada vez mais no tema, e quando percebi o quão vasto e importante
                                é esta área para apoiar todas as demais, decidi fazer
                                parte desta evolução e transformação do mundo por meio da tecnologia da informação.</br>
                                Agora, busco uma oportunidade que me permita colocar em prática o que já aprendi até agora,
                                e aprimorar cada vez mais os meus conhecimentos, enquanto continuo buscando por novos aprendizados.</br>
                                Formado em Gestão de Recursos Humanos, desenvolvi habilidades de relacionamentos interpessoal, senso colaborativo
                                e praticas de liderança.</br>
                                Conheço C# e Python, Web API's, um pouco de Angular, Banco de dados relacional (Oracle SQL Server) e não relacional (MongoDB).
                                Meu momento atual é de muita energia para aprender e colaborar.
                            </p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <p></p>
                            <h4>RESUMO DE CARREIRA</h4>
                            <P>Desenvolvedor Python Junior</P>
                            <p> - Concepção de websites de elevado impacto e centrados no utilizador
                                - Desenvolvimento de Apps móveis fáceis para o utilizador
                                - Implementação de estratégicos SEO no site de clientes
                            </p>
                        </div>
                        <div class="row">
                            <h4>CONHECIMENTOS</h4>
                             <p>
                                • HTML
                                • CSS (Bootstrap)
                                • Javascript (Ajax, Jquery, Typescript, Angular)
                                • Python (Django, Flask)
                                • C# (.Net Framework, Entity Framework)
                                • Banco de Dados (Oracle, SQL Server)
                                • Inglês Básico
                             </p>
                        </div>
                    </div>
                </div>
                <div class="divider py-1 bg-success"></div>
                <div class="row">
                    <h4>REDES SOCIAIS</h4>
                    <a href="https://www.linkedin.com/in/paulo-lopes-do-nascimento-485371229/">linkedin</a>
                    <a href="https://github.com/PLopesNascimento">Github</a>
                    <div class="divider py-1 bg-success"></div>
                    <p>   </p>
                </div>
            </div>

        </div>

    </body>

</html>
